<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <p>TESTE FIREBASE</p>  
    <label="soNumeros">
        Só números: <input id="numeros" onkeypress="soNumeros(this.value)"  value="" maxlength="11"/>
    </label>  
</body>

<script>
    let num = document.getElementById("numeros")
    function soNumeros(numeros) { //variavel do parametro recebe o caractere digitado//
        //console.log(numeros)  
    num.value = numeros.replace(/\D/g, "");  
    console.log(numeros.replace(/\D/g, ""));  
} 
    // /^\d+,\d{2}$/
</script>    
</html>



